doctype html
html
    head
        title About Page
        link(rel="stylesheet", href="styles/style.css")
    body 
        h3(classname='body--h3') This app hopes
        h2 to one day become 
        h1 a Library Management API
        p My name is #{user.userName}
        p I am #{user.age} old
        p 
            b The whole object #{user}