doctype html
html
    head
        title About Page
        link(rel="stylesheet", href="styles/style.css")
    body 
        h1(classname='body--h3') Library Management System REST API
        h3 The API has three main routes 
        //- ul #routes
        li Users
        li Books
        li Authors
        h3 Tech Stack
        p I am #{user.age} old
        p 
            b The whole object #{user}